In [1]:
import os

In [3]:
os.listdir(".")

['roughwork.ipynb']

In [4]:
os.getcwd()

'c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Flight fare prediction\\Flight-Fare-Prediction\\notebook'

In [9]:
file_path = "c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Flight fare prediction\\Flight-Fare-Prediction\\config"
config_file_path = os.path.join(file_path,"config.yaml")

In [10]:
config_file_path

'c:\\Users\\athir\\OneDrive\\Documents\\Internship\\Flight fare prediction\\Flight-Fare-Prediction\\config\\config.yaml'

In [11]:
os.path.exists(config_file_path)

True

In [1]:
train_download_url = "https://github.com/Athira-M-Chandran/Datasets/blob/main/Flight%20Fare%20Predictions/Data_Train.xlsx?raw=true"

In [4]:
os.path.basename(train_download_url).split("?")[0]

'Data_Train.xlsx'

In [13]:
raw_data_dir = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-18-22-12-20\raw_data"

In [14]:
os.listdir(raw_data_dir)[0]

'Data_Train.xlsx'

In [17]:
train_file_path = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-18-22-12-20\raw_data\Data_Train.xlsx"

In [20]:
import pandas as pd
d1 = pd.read_excel(train_file_path)
d1.to_csv("train.csv",index = False)
df = pd.DataFrame(pd.read_csv("train.csv"))

In [33]:
df = pd.DataFrame(pd.read_csv("train.csv"))

In [35]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [36]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [37]:
print(df.nunique())

Airline              12
Date_of_Journey      44
Source                5
Destination           6
Route               128
Dep_Time            222
Arrival_Time       1343
Duration            368
Total_Stops           5
Additional_Info      10
Price              1870
dtype: int64

In [40]:
print(df.Airline.unique())
print(df.Source.unique())
print(df.Destination.unique())
print(df.Total_Stops.unique())

['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']
['non-stop' '2 stops' '1 stop' '3 stops' nan '4 stops']

In [75]:
train_file_path = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-19-17-42-46\ingested_data\train\Data_Train.xlsx"
test_file_path = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-19-17-42-46\ingested_data\test\Test_set.xlsx"
sample_file_path = r"C:\Users\athir\OneDrive\Documents\Internship\Flight fare prediction\Flight-Fare-Prediction\flight_fare\artifact\data_ingestion\2022-07-19-17-42-46\ingested_data\sample\Sample_submission.xlsx"

In [76]:
pip install evidently

Requirement already satisfied: evidently in c:\users\athir\anaconda3\lib\site-packages (0.1.53.dev0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dataclasses>=0.6 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (0.6)
Requirement already satisfied: PyYAML~=5.1 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (5.4.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (1.20.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (2.24.0)
Requirement already satisfied: scikit-learn>=0.24.0 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (0.24.1)
Requirement already satisfied: plotly>=5.5.0 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (5.6.0)
Requirement already satisfied: statsmodels>=0.12.2 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (0.12.2)
Requirement already satisfied: pandas>=1.1.5 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (1.2.4)
Requirement already satisfied: scipy>=1.5.4 in c:\users\athir\anaconda3\lib\site-packages (from evidently) (1.6.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\athir\anaconda3\lib\site-packages (from pandas>=1.1.5->evidently) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\athir\anaconda3\lib\site-packages (from pandas>=1.1.5->evidently) (2.8.1)
Requirement already satisfied: six in c:\users\athir\anaconda3\lib\site-packages (from plotly>=5.5.0->evidently) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\athir\anaconda3\lib\site-packages (from plotly>=5.5.0->evidently) (8.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\athir\anaconda3\lib\site-packages (from requests>=2.19.0->evidently) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\athir\anaconda3\lib\site-packages (from requests>=2.19.0->evidently) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\athir\anaconda3\lib\site-packages (from requests>=2.19.0->evidently) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\athir\anaconda3\lib\site-packages (from requests>=2.19.0->evidently) (1.25.10)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\athir\anaconda3\lib\site-packages (from scikit-learn>=0.24.0->evidently) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\athir\anaconda3\lib\site-packages (from scikit-learn>=0.24.0->evidently) (1.0.1)
Requirement already satisfied: patsy>=0.5 in c:\users\athir\anaconda3\lib\site-packages (from statsmodels>=0.12.2->evidently) (0.5.1)

In [77]:

from evidently.model_profile import Profile
from evidently.model_profile.sections import DataDriftProfileSection
from evidently.dashboard import Dashboard
from evidently.dashboard.tabs import DataDriftTab
import json

In [78]:
d2 = pd.read_excel(train_file_path)
d3 = pd.read_excel(test_file_path)
d4 = pd.read_excel(sample_file_path)

In [79]:
d5 = pd.concat([d3, d4], axis=1)

In [80]:
profile = Profile(sections=[DataDriftProfileSection()])

In [81]:
print(d2.head())
print(d5.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302
             Airline Date_of_Journey    Source Destination            Route  \
0        Jet Airways       6/06/2019     Delhi      Cochin  DEL → BOM → COK
1             IndiGo      12/05/2019   Kolkata    Banglore  CCU → MAA → BLR
2        Jet Airways      21/05/2019     Delhi      Cochin  DEL → BOM → COK
3  Multiple carriers      21/05/2019     Delhi      Cochin  DEL → BOM → COK
4           Air Asia      24/06/2019  Banglore       Delhi        BLR → DEL

  Dep_Time  Arrival_Time Duration Total_Stops              Additional_Info  \
0    17:30  04:25 07 Jun  10h 55m      1 stop                      No info
1    06:20         10:20       4h      1 stop                      No info
2    19:15  19:00 22 May  23h 45m      1 stop  In-flight meal not included
3    08:00         21:00      13h      1 stop                      No info
4    23:55  02:45 25 Jun   2h 50m    non-stop                      No info

   Price
0  15998
1  16612
2  25572
3  25778
4  16934

In [82]:
profile.calculate(d2,d5)

In [ ]:
report = json.loads(profile.json())